html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: calibri;
}

nav {
	width: 100%;
	position: fixed;
}

.logo-container {
	width: 30%;
	background-color: black;
	float: left;
	text-align: center;
	height: 85px;
}

.logo {
	height: 75px;
	padding-top: 5px;
}

.menu {
	font-size: 30px;
	height: 85px;
	width: 70%;
	background-color: black;
	float: left;
}

.menu a {
	color: #90F42D;
	text-decoration: none;
}

.menu ul, .menu ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul {
	float: right;
	padding-right: 30px;
}

.menu ul li {
	float: left;
	padding-left: 20px;
	padding-top: 25px;
}

.menu ul a:hover {
	color: #3B81E2;
}

.top-image-container {
	padding-top: 85px;
	clear: both;
}

.top-image {
	width: 100%;
	display: block;
}

.about-company {
	background-color: #3f3f3f;
	text-align: center;
}

.about-company img {
	max-width: 90%;
}

.about-company h1 {
	color: #3B81E2;
	margin: 0;
	font-size: 30px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.about-company p {
	color: white;
	text-align: justify;
	padding: 30px;
	margin: 0;
}

.offer {
	background-color: black;
}

.offer h1 {
	color: #3B81E2;
	margin: 0;
	font-size: 30px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.flex-container {
	background-color: black;
	margin: 0;
	display: flex;
	justify-content: center;
}

.flex-item {
	width: 33.33%;
	height: 150px;
	background-color: #3f3f3f;
	border: 1px black solid;
	text-align: center;
	color: black;
	border-radius: 5px;
}

.flex-item h2 {
	padding-top: 25px;
	font-size: 25px;
	color: #90F42D;
	margin: 0;
}

.flex-item h5 {
	font-size: 15px;
	color: white;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.contact {
	background: white;
	text-align: center;
	background-image: url(img/background.png);
	width: 100%;
	padding-bottom: 15px;
}

.contact h2 {
	color: #3B81E2;
	font-size: 30px;
	margin-top: 0;
	padding-top: 0.83em;
	padding-bottom: 15px;
}

.contact input {
	font-family: calibri;
	font-size: 20px;
	display: block;
	margin-top: 15px;
	border-radius: 15px;
	margin: auto;
	width: 40%;
	text-align: center;
	border-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	background: transparent;
	border-color: white;
	color: white;
}

.contact input::placeholder, .contact textarea::placeholder {
	color: white;
}

.contact textarea {
	font-family: calibri;
	font-size: 20px;
	margin-top: 15px;
	border-radius: 15px;
	width: 40%;
	height: 100px;
	text-align: center;
	resize: none;
	border-width: 2px;
	border-color: black;
	padding-top: 10px;
	background: transparent;
	border-color: white;
	color: white;
}

.contact-form button {
	font-size: 15px;
	display: block;
	margin: auto;
	margin-top: 15px;
	background-color: black;
	color: #90F42D;
	border-radius: 10px;
	padding: 10px 20px;
}

footer {
	background-color: black;
}

.container-footer-logo {
	float: left;
	width: 30%;
	text-align: center;
}

.footer-logo {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100px;
}

.footer-info {
	float: left;
	width: 70%;
	text-align: center;
}

.footer-info h2 {
	margin: 0;
	padding-top: 10px;
	font-size: 30px;
	color: #3B81E2;
}

.footer-info a {
	margin: 0;
	padding-top: 5px;
	color: white;
}

.footer-info p {
	margin: 0;
	padding-top: 5px;
	color: white;
}

.clear {
	clear: both;
}

/*modal*/

.item-description-link, .item-description, .description-modal {
	color: red;
}

.item-description-link:hover {
	cursor: pointer;
	color: white;
}

.item-description {
	display: none;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1040;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.modal-backdrop.fade {
	opacity: 0.5;
}

.modal-backdrop.show {
	display: block;
}

.fade {
	transition: opacity 0.15s linear;
}

.fade:not(.show) {
	display: none;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 4rem 4rem;
	pointer-events: none;
}

.modal.fade .modal-dialog {
	transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
	-webkit-transform: translate(0, -50px);
	transform: translate(0, -50px);
}

.modal.show {
	display: block;
}

.modal.show .modal-dialog {
	-webkit-transform: none;
	transform: none;
}

.modal-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #3f3f3f;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}

.modal-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: calc(0.3rem - 1px);
	border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
	padding: 10px;
	margin: -1rem -1rem -1rem auto;
	background: black;
	color: red;
	font-size: 15px;
}

.modal-header .close:hover {
	cursor: pointer;
}

.modal-title {
	margin-bottom: 0;
	line-height: 1.5;
	color: white;
	font-size: 30px;
	margin-top: 0;
}

.modal-body {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem;
	max-height: 500px;
	overflow-y: scroll;
	color: white;
	text-align: left;
}

.modal-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0.75rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: calc(0.3rem - 1px);
	border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer>* {
	margin: 0.25rem;
}

.modal-open {
	overflow: hidden;
}

.description-image {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.item-path {
	display: none;
}

.menu .hamburger {
	display: none;
}

.menu .toggler {
	display: none;
}

@media all and (max-width: 768px) {
	.menu .hamburger {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: 60px;
		height: 60px;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.menu .hamburger>div {
		position: relative;
		flex: none;
		width: 100%;
		height: 2px;
		background: #90F42D;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.menu .hamburger>div::before, .menu .hamburger>div::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: -10px;
		width: 100%;
		height: 2px;
		background: inherit;
	}
	.menu .hamburger>div::after {
		top: 10px;
	}
	.menu .toggler {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		cursor: pointer;
		width: 60px;
		height: 60px;
		opacity: 0;
		margin: 1rem;
	}
	.menu ul {
		float: right;
		margin-top: 85px;
		background: #000;
		visibility: hidden;
		overflow: hidden;
	}
	.menu ul li {
		float: none;
	}
	.menu ul li:last-child {
		padding-bottom: 25px;
	}
	.menu .toggler:checked~ul {
		visibility: visible;
	}
	.flex-container {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
	}
	.flex-item {
		width: 99%;
	}
	.contact input {
		width: 80%;
	}
	.contact textarea {
		width: 80%;
	}
}